---
import Layout from '../../layouts/Layout.astro';
import { oneID} from '../../../backend/backend.mjs'
const { id } = Astro.params;
const oneRecord = await oneID(id);
console.log(oneRecord);
import ImgPb from '../../components/ImgPb.astro';
const { ...film } = oneRecord;
---

<Layout>
    <ImgPb 
    record={film}
    field="affiche"
    alt={film.titre}
    classPicture="col-span-1 row span-3 flex items-center justify-center "
    classImg="object-cover mt-10"/>
    <p class=" font-semibold py-2 flex justify-center items-center">
        <a class="text-black" href={`/Programmefilm/${film.id}`}>{film.nom_film}</a>
      </p>
      <p class=" font-semibold py-2 ml-5">
        <a class="text-black" href={`/Programmefilm/${film.id}`}>{film.synopsis}</a>
        <p class=" font-semibold py-2 ml-5">
            <a class="text-black" href={`/Programmefilm/${film.id}`}>{film.infos}</a>
          </p>
          <p class="ml-5">invité :<a href={ `/invite/${film.expand?.invite.id}` }>{film.expand?.invite.nom_invite} {film.expand?.invite.prenom_invite}</a>Jean-Bernard Guillard</p>
              <p class="text-black pb-4 ml-5">
        { film.ba}
      </p>
      </p>

</Layout>