---
import ImgPb from './ImgPb.astro'
import { formatDate } from '../../helpers';


const { ...film } = Astro.props;

---

<article>
    <a href={`/film/${film.id}`}>
      <ImgPb 
      record={film}
      field="affiche"
      alt={film.titre}
      classPicture="col-span-1 row span-3 flex items-center justify-center"
      classImg="object-cover"/>
    </a>
    <div
      class="relative px-6 py-4 space-y-2"
    >
      <p class=" font-semibold py-2 flex justify-center items-center">
        <a class="text-black" href={`/film/${film.id}`}>{film.nom_film}</a>
      </p>
      <p class="text-black flex justify-center items-center">
        <span class=" font-bold ">{formatDate(film.date)}</span
        >
      </p>
      <p class="text-black pb-4">
        { film.ba}
      </p>


    </div>

  </article>