---
import ImgPb from './ImgPb.astro'
const { ...invite } = Astro.props;

---

<article>
    <a href={`/invite/${invite.id}`}> 
      <ImgPb 
      record={invite}
      field="image"
      alt={invite.titre}
      classPicture="col-span-1 row span-3 flex items-center justify-center"
      classImg="object-cover"/>
    </a>
    <div
      class="relative px-6 py-4 space-y-2"
    >
      <p class=" font-semibold py-2 flex justify-center items-center">
        <a class="text-black" href={`/invite/${invite.id}`}>{invite.nom}</a>
      </p>
      <p class="text-black flex justify-center items-center">
        <span class=" font-bold ">{(invite.prenom)}</span
        >
        </p>



    </div>

  </article>